<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Admnistrative Login</h1>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"user") do |f| %>
            
            <!-- email -->
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder:"Enter Email Address...",
                                class:"form-control form-control-user" %>
            </div>

            <!-- password -->
            <div class="form-group">
              <%= f.password_field :password, placeholder:"Password", class:"form-control form-control-user" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-group">                     
                <div class="custom-control custom-checkbox small">
                  <%= f.check_box :remember_me, class:"custom-control-input" %>
                  <%= f.label :remember_me, class:"custom-control-label" %>
                </div>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in",class:"btn btn-primary btn-user btn-block" %>
            </div>
          <% end %>
          <!-- 
          <hr>
          <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
          </div>
          <div class="text-center">
            <a class="small" href="register.html">Create an Account!</a>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
