<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application'%>
    <%= stylesheet_link_tag    'site'%>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/navbar-static/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .nav-link {
        padding-right: .5rem !important;
        padding-left: .5rem !important;
      }
      
      /* Fixes dropdown menus placed on the right side */
      .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
      }
    </style>
    

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #052843; border-style: solid;">
      <%= link_to 'Time To Answer', root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <%= form_with(url: site_search_path, local: true, method: :get, class:"form-inline") do |form| %>
          <%= form.text_field :term, class:"form-control mr-sm-2", placeholder:"Search" %>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <% end %>
        <ul class="navbar-nav ml-auto">
          <% unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Create Account', new_user_registration_path, class:"nav-link" %>
            </li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item", style:"color: #454e56; text-align: center" do %>
                  <i class="fas fa-user-alt"> </i>Profile
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item", style:"color: #454e56; text-align: center" do %>
                  <i class="fas fa-sign-out-alt"> </i>Log Off
                <% end %>
              </div>                
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

   
    <%= yield %>
  
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'site'%>

    <% if notice %>
      <%= javascript_tag do %>
        $.bootstrapGrowl('<%= notice %>', {
          ele: 'body', // which element to append to
          type: 'success', // (null, 'info', 'danger', 'success')
          offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
          align: 'center', // ('left', 'right', or 'center')
          delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
          allow_dismiss: true, // If true then will display a cross to close the popup.
          stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
      <% end %>
    <% end %>

  </body>
</html>